<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeeYouSoon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF3821501E2415DF00032F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF3821641E2415DF00032F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF38216F1E2415DF00032F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
